.servicesHeader{
    &-main{
        max-width: 1280px;
        height: 100vh;
        background-color: #F1F1F1;
        margin: 70px auto 200px;
        position: relative;
        p{
            color: #27386E;
            font-size: 14px;
            text-align: center;
           padding-top: 96px;
        }
        h2{
            color: #27386E;
            font-size: 60px;
            text-align: center;
        }
        &-block{
            position: absolute;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            left: 6%;
            right: 5%;
            img{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 1140px) {
    .servicesHeader{
        &-main{
            width: 90%;
            height: 80vh;
            background-color: #ffffff;
            margin: 120px auto 40px;
            position: relative;
            p{
                display: none;
            }
            h2{
                color: #27386E;
                font-size: 40px;
            }
            &-block{
                position: absolute;
                top: 30px;
                left: 6%;
                right: 5%;
                img{
                    width: 100%;
                }
            }
        }
    }
}